:root {
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3498db;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --toastify-color-transparent: rgba(255, 255, 255, 0.7);
    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);
    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;
    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;
  
    /* Used only for colored theme */
    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;
    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;
  
    /* Used when no type is provided */
    /* toast("**hello**") */
    --toastify-color-progress-light: linear-gradient(
      to right,
      #1a7909,
      #178221,
      #13924c,
      #0da786,
      #0caa8f,
      #0bae98
    );
    /* Used when no type is provided */
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);

  --tabi-logo: #5d0fa2;
  --tabi-logo-darker:#4a0883;
  --tabi-gray: rgb(218, 218, 218);
  --tabi-white: white;
  --tabi-danger:#f10a0a;
  --tabi-danger-hover: #ff3131;
  --tabi-secondary:#78909C;
  --tabi-secondary-hover:#B0BEC5;
  --tabi-warning: #F57C00;
  --tabi-warning-hover:#FF9800;
  --tabi-btn-light-background:rgb(245, 244, 242);
  --tabi-btn-light-logo:#4e26b5;
  --tabi-loading-spinner-quarter: #250c86;
  --tabi-loading-spinner-circle: #e9e1e1;
  --tabi-body-color:#ffffff;

  /* --tabi-body-color:#F0ECD8; */
  }
  
  .Toastify__toast-container--top-right {
    top: 70px;
    right: 1.0em; 
}