.details-outline {
    border: 1px solid rgba(109, 109, 109, 0.61);
    border-radius: 5px;
    padding: 5px;
  }

  .contain-small-forms {
    max-width: 50rem;
  }
  
  .contain-large-forms {
    max-width: 75rem;
  }
  
  .form-background {
    background-color: rgba(190, 189, 189, 0.548);
    /* background-color: rgba(19, 18, 18, 0.548); */
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }
  
 
/* BOOTSTRAP OVERRIDES */
  .form-control:focus, .form-select:focus {
    color: black;
    background-color: var(--bs-body-bg); 
    border-color: rgba(255, 255, 255, 0); 
    outline: none !important;
    -webkit-box-shadow: -1px 2px 8px 1px rgba(84, 151, 76, 0.33); 
    box-shadow: -1px 2px 8px 1px rgba(84, 151, 76, 0.33);
  }

  .form-check-input:focus {
    border-color: #98d887;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(132, 224, 122, 0.616);
  }


  .form-check-input:checked {
    background-color: #98d887;
    border-color: #98d887;
  }